<div class="col-md-6">
  <%= render "layouts/errors", :object => @question %>

  <%= form_for @question, remote: true, id:'new_question_form' do |f| %>
  <div class="form-group">
    <%= f.label :question %>
    <%= f.text_field :question, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-default' %>
  <% end %>
</div>
